---
import Footer from "$components/Footer.astro";
import Background from "$components/Background.astro";
import MetaPixelCode from "$components/MetaPixelCode.astro";
import Posthog from "$components/Posthog.astro";
import SmoothScroll from "$components/SmoothScroll.astro";

interface Props {
  path?: string;
  title?: string;
  favicon?: string;
}

const {
  path = "/",
  title = "Cogito Software",
  favicon = "/favicon_io/favicon.ico",
}: Props = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline>
      const theme = localStorage.getItem("theme") || "LIGHT";
      document.documentElement.setAttribute("data-theme", theme);
    </script>

    <Posthog />
    <MetaPixelCode />
  </head>
  <body
    class="min-h-screen overflow-x-hidden bg-background text-foreground antialiased"
  >
    <!-- <SmoothScroll /> -->
    <Background />

    <slot />

    <Footer />
  </body>
</html>
